<li id="<%= dom_id(user) %>">
  <p>Student: <%= user.full_name %>, email: <%= user.email %> <span class="legit_user">  <%= link_to fa_icon("check"),
            user_path(user, "user[legit]" => true),
            remote: true,
            method: :patch %></span></p>
</li>
