<h1>Hi <%= @user.first_name %></h1>
<h4>Looks like you've got a message from: <strong><%= @contactee %></strong> </h4>
<h3>Message: <%= @message %> </h3>
<h4>You can contact them at <strong><%= @email %></strong></h4>
