<h3>Good news, <%= @user.first_name.titleize %>/</h3>
<h4>We've validated your account!</h4>
<h4>Head on over to your <%= link_to "Profile Page" edit_user_url(@user) %> to start setting up your profile.</h4>

<h5>w00t</h5>
