<ul class="nav nav-pills center-block" id="user-nav" role='tablist'>
    <li role="presentation" class="active">
      <a href="#skills-show" aria-controls="skills" role="tab" data-toggle="tab">Skills</a>
    </li>
    <li role="presentation">
      <a href="#projects-show" aria-controls="projects" role="tab" data-toggle="tab">Projects</a>
    </li>
    <li role="presentation">
      <a href="#education-show" aria-controls="education" role="tab" data-toggle="tab">Education</a>
    </li>
    <li role="presentation">
      <a href="#experience-show" aria-controls="experience" role="tab" data-toggle="tab">Experience</a>
    </li>
</ul>
