<ul class="nav nav-pills" id="user-nav" role="tablist">
  <li role="presentation" id="basic_info_a">
    <%= link_to "Basic Information", edit_user_path(@user), { id: "edit-user-basic-btn" }  %>
  </li>
  <li role="presentation">
    <a href="#linkings-form" aria-controls="profile" role="tab" data-toggle="tab">Links</a>
  </li>
  <li role="presentation">
    <a href="#experiences-form" aria-controls="profile" role="tab" data-toggle="tab">Experience</a>
  </li>
  <li role="presentation" id="education_a">
    <a href="#educations-form" aria-controls="profile" role="tab" data-toggle="tab">Education</a>
  </li>
  <li role="presentation">
    <a href="#projects-form" aria-controls="profile" role="tab" data-toggle="tab">Projects</a>
  </li>
  <li role="presentation">
    <a href="#skills-form" aria-controls="profile" role="tab" data-toggle="tab">Skills</a>
  </li>
</ul>
