<h1>Basic Information (edit)</h1>

<%= render "users/nav" %>

<div class="container" class="user-form">
  <div id="basic-form">
    <%= render "users/form_basic" %>
  </div>
  <div id="project-form">
    <%= render "users/projects" %>
  </div>
</div>
