<h1>
  <% if @users.order(:available).first.available == false %>
    All
  <% else %>
    Available
  <% end %>
</h1>

<% @users.each do |user| %>
  <div>
    <div>
      <% if user.image? %>
        <%= image_tag user.image_url  %>
      <% end %>
    </div>
    <%= user.full_name %>
  </div>
<% end %>


<%= paginate @users %>
