<h1>Links</h1>
<div class="links">
  <% if @linkings.length > 0 %>
  <% @linkings.each do |linking| %>
    <%= render 'linking', linking: linking %>
  <% end %>
  <% end %>
</div>
<h2>Add new link</h2>
<%= @linking.errors.full_messages.join(", ") %>
<div class="container" id="link-form">
  <%= render 'form' %>
</div>
