

<div class="align-center slideUp">

    <h1 class="cta-h1">Meet our Students and Alumni</h1>

    <div class="cta">
      <%= link_to "Students Available for Hire", users_path(who: "available"), class: "btn btn-primary btn-modification"  %>
      <%= link_to "All Students",  users_path(who: "all"), class: "btn btn-primary btn-modification" %>
    </div>

    <div class="bgimage-inside"></div>

</div>
