<div class="innter">

    <h1>Welcome to Codecore Alumni Page</h1>

    <%= link_to "Students Available for Hire", users_path(who: "available"), class: "btn btn-primary btn-modification"  %>
    <%= link_to "All Students",  users_path(who: "all"), class: "btn btn-primary btn-modification" %>

    <div class="bgimage-inside"></div>
  </div>
