// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-contact-edit{
  p{
    margin-top: 20px;
  }
  a{
    margin-right: 20px;
  }
}

.user-description{
  margin-bottom: 20px;
}
