// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif;
}


.bgimage {
  background-image: image-url('welcome_bg_resized.JPG');
  background-repeat: repeat;
  background-size: 100%;
  height:90vh;
  z-index: 0;
    h1{
      margin-top: 0;
    }

  background-size: auto 100%;
}

.bgimage-inside {
  // padding-top: 68.34%; /* this is actually (911/1333)*100 */
  // z-index: 0;
}

.row-override {

    margin-right: -30px;
    margin-left: -30px;
    margin-top: -10px;
    z-index: 0;


}

.navbar-modification {
   margin-bottom: 0px;

}

.btn-modification {
margin-left: 5px;
margin-right: 5px;
margin-top: 25px;
width: 250px;
background-color: #cb0d0f;
border: none;
padding: 20px;
opacity: 0.8;
    &:hover {
      background-color: #840404;
    }
}

#logo{
  img{
    // width:100%;
    height:100%;
  }
}

#landing-navbar{
  background-color: transparent;
  border:none;

  a{
    font-size: 16px;
    color:grey;
  }

  a:hover{
    color: white;
  }
}

#layer {
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height:90vh;
    width: 100%;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #c63d2d;
 }
 #social-em:hover {
     color: #f39c12;
 }
 #social-li:hover {
     color: #4098FF;
 }
 #social-pi:hover {
     color: #C92228;
 }
 #social-ig:hover {
     color: #125688;
 }
 #social-gh:hover {
     color: #000000;
 }
 #social-yt:hover {
     color: #bb0000;
}
