// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$landing-img-height:100vh;
body {
  font-family: 'Open Sans', sans-serif;
}

html {

}
.bgimage {
  height:$landing-img-height;
  background: image-url('welcome_bg_resized.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bgimage-inside {
  // padding-top: 68.34%; /* this is actually (911/1333)*100 */
  // z-index: 0;
}

.row-override {

    margin-right: -30px;
    margin-left: -30px;
    margin-top: -10px;
    z-index: 0;


}

.navbar-modification {
   margin-bottom: 0px;

}

.btn-modification {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
  width: 250px;
  background-color: rgba(203,13,15, 0.9);
  border: none;
  padding: 20px;
  font-size:15px;
  opacity: 0.8;
      &:hover {
        background-color: #840404;
      }
}

#logo{
  img{
    // width:100%;
    height:100%;
  }
}

#landing-navbar{
  background-color: transparent;
  border:none;

  a{
    font-size: 16px;
    color:grey;
  }

  a:hover{
    color: white;
  }
}

#layer {
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height:$landing-img-height;
    width: 100%;
}

.align-center{
  height:($landing-img-height) - 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

.cta{

  @media(min-width:992px){
    display:flex;
    .btn:first-child{margin-right: 30px;}
  }

}


.cta-h1{
  color:#f2f2f2;
  font-weight: normal;
  font-size:3em;

  margin-bottom: 30px;
  text-align: center;
  @media(min-width:992px){
    font-size:4em;
  }
}
