// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif;
}

.bgimage {
background-image: image-url('welcome_bg_resized.JPG');
background-repeat: no-repeat;
background-size: 100%;
z-index: 0;
  h1{
    margin-top: 0;
  }
}

.bgimage-inside {
  padding-top: 68.34%; /* this is actually (911/1333)*100 */
  z-index: 0;
}

.row-override {

    margin-right: -30px;
    margin-left: -30px;
    margin-top: -10px;
    z-index: 0;


}

.navbar-modification {
   margin-bottom: 0px;

}

.btn-modification {
align
margin: 10px;
width: 250px;
background-color: #cb0d0f;
border: none;
padding: 20px;
opacity: 0.8;
    &:hover {
      background-color: #840404;
    }
}
