<%= link_to fa_icon("fa fa-twitter-square fa-1x social"), "http://twitter.com/CodeCoreYVR", id:"social-tw", class:"fa fa-twitter-square fa-2x social" %>
<%= link_to fa_icon("fa fa-facebook-square fa-1x social"), "http://www.facebook.com/pages/Codecore-Bootcamp/1407977206086598", id:"social-fb", class:"fa fa-facebook-square fa-2x social"%>
<%= link_to fa_icon("fa fa-linkedin-square fa-1x social"), "http://linkedin.com/company/codecore-bootcamp)", id:"social-li", class:"fa fa-linkedin-square fa-2x social" %>
<%= link_to fa_icon("fa fa-github-square fa-1x social"), "http://github.com/orgs/CodeCoreYVR", id:"social-gh", class:"fa fa-github-square fa-2x social" %>
<p>142 W Hastings St. // Vancouver, BC // Canada // (604) 559-CODE (2633)</p>
